* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Helvetice Neue, Ariel;
  font-size: 18px;
}

h1, h2 {
  color:#00960b;
  margin-bottom:20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size:25px;
  margin-bottom:20px
}

p {
  text-align: justify;
  margin-bottom:20px;
}

.author-text {
  font-size: 22px;
}